drummerapp/App/nodered.txt
[{"id":"34ee2645.d918f2","type":"mqtt in","z":"48055768.1ccce","name":"","topic":"itsdrummerbaby/hihat","qos":"2","broker":"b01c77db.c13098","x":181.57142639160156,"y":77.19999694824219,"wires":[["6ef5d3dd.02043c","b4832a40.a33df"]]},{"id":"6ef5d3dd.02043c","type":"rpi-gpio out","z":"48055768.1ccce","name":"","pin":"35","set":"","level":"0","out":"out","x":741.8095703125,"y":75.34286499023438,"wires":[]},{"id":"1cdd4418.88f58c","type":"mqtt in","z":"48055768.1ccce","name":"","topic":"itsdrummerbaby/tom2","qos":"2","broker":"b01c77db.c13098","x":166.33335876464844,"y":262.914306640625,"wires":[["8808a8f9.a87a28","8b8d499.36be738"]]},{"id":"8808a8f9.a87a28","type":"rpi-gpio out","z":"48055768.1ccce","name":"","pin":"37","set":"","level":"0","out":"out","x":732.5714721679688,"y":258.7238006591797,"wires":[]},{"id":"4df34de9.91b15c","type":"mqtt in","z":"48055768.1ccce","name":"","topic":"itsdrummerbaby/tom1","qos":"2","broker":"b01c77db.c13098","x":174.3333282470703,"y":168.91429138183594,"wires":[["484fee7b.555018","2a75f3ee.0a811c"]]},{"id":"484fee7b.555018","type":"rpi-gpio out","z":"48055768.1ccce","name":"","pin":"18","set":"","level":"0","out":"out","x":734.5714721679688,"y":167.05714416503906,"wires":[]},{"id":"f6f571b9.a4bfd","type":"mqtt in","z":"48055768.1ccce","name":"","topic":"itsdrummerbaby/kick","qos":"2","broker":"b01c77db.c13098","x":159.99998474121094,"y":341.5809326171875,"wires":[["6a67573f.f009a","b4817a57.03d5b8"]]},{"id":"6a67573f.f009a","type":"rpi-gpio out","z":"48055768.1ccce","name":"","pin":"38","set":"","level":"0","out":"out","x":728.2380981445312,"y":338.72381591796875,"wires":[]},{"id":"599540da.375e28","type":"mqtt in","z":"48055768.1ccce","name":"","topic":"itsdrummerbaby/snare","qos":"2","broker":"b01c77db.c13098","x":168.6666717529297,"y":442.24761962890625,"wires":[["d13f6047.dc7298","d54694de.c85e1"]]},{"id":"d13f6047.dc7298","type":"rpi-gpio out","z":"48055768.1ccce","name":"","pin":"7","set":"","level":"0","out":"out","x":725.90478515625,"y":438.3905029296875,"wires":[]},{"id":"2832c6e4.a704f2","type":"mqtt in","z":"48055768.1ccce","name":"","topic":"itsdrummerbaby/becken","qos":"2","broker":"b01c77db.c13098","x":176.99998474121094,"y":531.5809326171875,"wires":[["2e29556.b4909aa","4de9b6e7.6fd12"]]},{"id":"2e29556.b4909aa","type":"rpi-gpio out","z":"48055768.1ccce","name":"","pin":"40","set":"","level":"0","out":"out","x":734.2380981445312,"y":528.7238159179688,"wires":[]},{"id":"b4832a40.a33df","type":"delay","z":"48055768.1ccce","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":383.5,"y":29.599990844726562,"wires":[["c477c9e9.6237b"]]},{"id":"c477c9e9.6237b","type":"change","z":"48055768.1ccce","name":"turn off","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":532.5,"y":29.800003051757812,"wires":[["6ef5d3dd.02043c"]]},{"id":"2a75f3ee.0a811c","type":"delay","z":"48055768.1ccce","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":368.20001220703125,"y":120.19999694824219,"wires":[["4c52a9c4.7c0c9"]]},{"id":"4c52a9c4.7c0c9","type":"change","z":"48055768.1ccce","name":"turn off","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":534.2000122070312,"y":119.40000915527344,"wires":[["484fee7b.555018"]]},{"id":"8b8d499.36be738","type":"delay","z":"48055768.1ccce","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":364.20001220703125,"y":208.1999969482422,"wires":[["172322d9.5155dd"]]},{"id":"172322d9.5155dd","type":"change","z":"48055768.1ccce","name":"turn off","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":534.2000122070312,"y":207.40000915527344,"wires":[["8808a8f9.a87a28"]]},{"id":"b4817a57.03d5b8","type":"delay","z":"48055768.1ccce","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":369.20001220703125,"y":304.20001220703125,"wires":[["26631e9a.f8f1d2"]]},{"id":"26631e9a.f8f1d2","type":"change","z":"48055768.1ccce","name":"turn off","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":542.2000122070312,"y":304.4000244140625,"wires":[["6a67573f.f009a"]]},{"id":"d54694de.c85e1","type":"delay","z":"48055768.1ccce","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":377.20001220703125,"y":388.20001220703125,"wires":[["d4bb2b8f.ba29b8"]]},{"id":"d4bb2b8f.ba29b8","type":"change","z":"48055768.1ccce","name":"turn off","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":549.2000122070312,"y":387.4000244140625,"wires":[["d13f6047.dc7298"]]},{"id":"4de9b6e7.6fd12","type":"delay","z":"48055768.1ccce","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":375.20001220703125,"y":483.20001220703125,"wires":[["30810a9a.e4e18e"]]},{"id":"30810a9a.e4e18e","type":"change","z":"48055768.1ccce","name":"turn off","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":549.2000122070312,"y":483.4000244140625,"wires":[["2e29556.b4909aa"]]},{"id":"b01c77db.c13098","type":"mqtt-broker","z":"","broker":"broker.mqttdashboard.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]