drummerapp/App/nodered.txt
[{"id":"260e7322.08ae24","type":"mqtt in","z":"af29294f.97f4b","name":"","topic":"itsdrummerbaby/hihat","qos":"2","broker":"c282c2c6.e46088","x":211.57144165039062,"y":99.60000610351562,"wires":[["5ced6f27.1944f8","92cdd7e2.dab8e8"]]},{"id":"5ced6f27.1944f8","type":"rpi-gpio out","z":"af29294f.97f4b","name":"","pin":"35","set":true,"level":"0","out":"out","x":771.8095855712891,"y":97.74287414550781,"wires":[]},{"id":"a71a35c7.24e758","type":"mqtt in","z":"af29294f.97f4b","name":"","topic":"itsdrummerbaby/tom2","qos":"2","broker":"c282c2c6.e46088","x":196.3333740234375,"y":285.31431579589844,"wires":[["ba778467.249a3","629f0042.6bbfa8"]]},{"id":"ba778467.249a3","type":"rpi-gpio out","z":"af29294f.97f4b","name":"","pin":"37","set":true,"level":"0","out":"out","x":762.5714874267578,"y":281.1238098144531,"wires":[]},{"id":"30e8c00d.a13c88","type":"mqtt in","z":"af29294f.97f4b","name":"","topic":"itsdrummerbaby/tom1","qos":"2","broker":"c282c2c6.e46088","x":204.33334350585938,"y":191.31430053710938,"wires":[["a431cfa0.8dafc","a68c5dfb.410b"]]},{"id":"a431cfa0.8dafc","type":"rpi-gpio out","z":"af29294f.97f4b","name":"","pin":"18","set":true,"level":"0","out":"out","x":764.5714874267578,"y":189.4571533203125,"wires":[]},{"id":"7eebaf74.dbb1f8","type":"mqtt in","z":"af29294f.97f4b","name":"","topic":"itsdrummerbaby/kick","qos":"2","broker":"c282c2c6.e46088","x":190,"y":363.98094177246094,"wires":[["77c4ac5.137d254","10ed09ae.82612e"]]},{"id":"77c4ac5.137d254","type":"rpi-gpio out","z":"af29294f.97f4b","name":"","pin":"38","set":true,"level":"0","out":"out","x":758.2381134033203,"y":361.1238250732422,"wires":[]},{"id":"bbea8abb.d361b","type":"mqtt in","z":"af29294f.97f4b","name":"","topic":"itsdrummerbaby/snare","qos":"2","broker":"c282c2c6.e46088","x":198.66668701171875,"y":464.6476287841797,"wires":[["59fd2aa5.bab85c","9589c03c.db3078"]]},{"id":"59fd2aa5.bab85c","type":"rpi-gpio out","z":"af29294f.97f4b","name":"","pin":"7","set":true,"level":"0","out":"out","x":755.9048004150391,"y":460.79051208496094,"wires":[]},{"id":"fd346e30.974c78","type":"mqtt in","z":"af29294f.97f4b","name":"","topic":"itsdrummerbaby/becken","qos":"2","broker":"c282c2c6.e46088","x":207,"y":553.9809417724609,"wires":[["38e0a999.c9ceae","9559f9a8.3ff6"]]},{"id":"38e0a999.c9ceae","type":"rpi-gpio out","z":"af29294f.97f4b","name":"","pin":"40","set":true,"level":"0","out":"out","x":764.2381134033203,"y":551.1238250732422,"wires":[]},{"id":"92cdd7e2.dab8e8","type":"delay","z":"af29294f.97f4b","name":"","pauseType":"delay","timeout":"150","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":413.50001525878906,"y":52,"wires":[["470d1918.f72df8"]]},{"id":"470d1918.f72df8","type":"change","z":"af29294f.97f4b","name":"turn off","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":562.5000152587891,"y":52.20001220703125,"wires":[["5ced6f27.1944f8"]]},{"id":"a68c5dfb.410b","type":"delay","z":"af29294f.97f4b","name":"","pauseType":"delay","timeout":"150","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":398.2000274658203,"y":142.60000610351562,"wires":[["9b6462f.5482aa"]]},{"id":"9b6462f.5482aa","type":"change","z":"af29294f.97f4b","name":"turn off","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":564.2000274658203,"y":141.80001831054688,"wires":[["a431cfa0.8dafc"]]},{"id":"629f0042.6bbfa8","type":"delay","z":"af29294f.97f4b","name":"","pauseType":"delay","timeout":"150","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":394.2000274658203,"y":230.60000610351562,"wires":[["5272c874.aabd5"]]},{"id":"5272c874.aabd5","type":"change","z":"af29294f.97f4b","name":"turn off","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":564.2000274658203,"y":229.80001831054688,"wires":[["ba778467.249a3"]]},{"id":"10ed09ae.82612e","type":"delay","z":"af29294f.97f4b","name":"","pauseType":"delay","timeout":"150","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":399.2000274658203,"y":326.6000213623047,"wires":[["80b4ea04.7b0ed8"]]},{"id":"80b4ea04.7b0ed8","type":"change","z":"af29294f.97f4b","name":"turn off","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":572.2000274658203,"y":326.80003356933594,"wires":[["77c4ac5.137d254"]]},{"id":"9589c03c.db3078","type":"delay","z":"af29294f.97f4b","name":"","pauseType":"delay","timeout":"150","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":407.2000274658203,"y":410.6000213623047,"wires":[["17aabe2e.43cb02"]]},{"id":"17aabe2e.43cb02","type":"change","z":"af29294f.97f4b","name":"turn off","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":579.2000274658203,"y":409.80003356933594,"wires":[["59fd2aa5.bab85c"]]},{"id":"9559f9a8.3ff6","type":"delay","z":"af29294f.97f4b","name":"","pauseType":"delay","timeout":"150","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":405.2000274658203,"y":505.6000213623047,"wires":[["8f9dd874.033258"]]},{"id":"8f9dd874.033258","type":"change","z":"af29294f.97f4b","name":"turn off","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":579.2000274658203,"y":505.80003356933594,"wires":[["38e0a999.c9ceae"]]},{"id":"c282c2c6.e46088","type":"mqtt-broker","z":"","broker":"diginet.mt.haw-hamburg.de","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]